<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>A536DB63-0671-4706-A1BC-3F69BDE25CC1</string>
			<string>6B92FA72-F53D-4867-991B-690C21F96CAB</string>
			<string>31436308-E9B0-44E4-9026-F0A8AFC748EF</string>
			<string>4412AD68-A1F0-45E9-BB39-DFAE671DE82A</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>31436308-E9B0-44E4-9026-F0A8AFC748EF</key>
			<dict>
				<key>items</key>
				<array>
					<string>4BB23F60-70F3-4D87-8964-892EA573AAF7</string>
					<string>393A1414-0440-4866-AD3C-00BB959AC514</string>
				</array>
				<key>name</key>
				<string>Python</string>
			</dict>
			<key>6B92FA72-F53D-4867-991B-690C21F96CAB</key>
			<dict>
				<key>items</key>
				<array>
					<string>AB3C8E3F-C90E-4EC9-A74D-E7D9519A550E</string>
					<string>086A4DA4-779A-40E9-9C51-295D4F32C146</string>
					<string>56CE292A-7033-4B41-BD83-896E97815BD7</string>
					<string>0A89A05C-1A02-48AD-9B2A-38B6D36DB089</string>
				</array>
				<key>name</key>
				<string>Model</string>
			</dict>
			<key>A536DB63-0671-4706-A1BC-3F69BDE25CC1</key>
			<dict>
				<key>items</key>
				<array>
					<string>311C17C5-A556-48D4-B91F-DD28BB0CF4E7</string>
					<string>6F9F667E-7614-41F6-89C9-45D10A48C54D</string>
					<string>89640B19-8FFF-4F79-BEC9-FF92722BD6D2</string>
				</array>
				<key>name</key>
				<string>Admin</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Trey - Django</string>
	<key>ordering</key>
	<array>
		<string>311C17C5-A556-48D4-B91F-DD28BB0CF4E7</string>
		<string>6F9F667E-7614-41F6-89C9-45D10A48C54D</string>
		<string>89640B19-8FFF-4F79-BEC9-FF92722BD6D2</string>
		<string>AB3C8E3F-C90E-4EC9-A74D-E7D9519A550E</string>
		<string>086A4DA4-779A-40E9-9C51-295D4F32C146</string>
		<string>56CE292A-7033-4B41-BD83-896E97815BD7</string>
		<string>4412AD68-A1F0-45E9-BB39-DFAE671DE82A</string>
		<string>4BB23F60-70F3-4D87-8964-892EA573AAF7</string>
		<string>393A1414-0440-4866-AD3C-00BB959AC514</string>
		<string>0A89A05C-1A02-48AD-9B2A-38B6D36DB089</string>
	</array>
	<key>uuid</key>
	<string>0AF68BCC-CA3F-47F3-85D8-0BD5DA28F230</string>
</dict>
</plist>
